body {
    margin: 0;
    color: black;
    background-color: white;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
}

a {
    text-decoration: none;
    color: black;
}

#search {
    text-align: right;
    padding: 20px 10px 30px;
}

#logo {
    text-align: center;
    margin: 20px 0 40px 0;
}

nav {
    text-align: center;
    margin-bottom: 40px;
}

nav ul li {
    display: inline; 
    padding: 25px; 
}

nav ul li a {
    color: black;
    font-family: 'Scada',sans-serif;
    font-weight: 900;
    font-size: 18px;
    text-decoration: none !important;
    border-bottom: 4px solid transparent;
    padding: 2px 10px;
}

nav ul li a:hover {
    border-bottom: 4px solid #ccc;
    transition: border-bottom .5s;
}

.slide {
    width: 100%;
    height: 500px;
    background: rgba(0,0,0,.4);
    text-align: center;
    padding-top: 15%;
}

.slide a {
    text-decoration: none !important;
    color: #fff;
}

.slide a.category  {
    font-family: 'Scada',sans-serif;
    font-weight: 900;
    font-size: 18px;
    background: #fff;
    padding: 3px 8px;
    color: #000 !important;
}

.slide a.category:hover {
    background: #000;
    color: #fff !important;
}

.slide .heading {
    font-family: 'Scada',sans-serif;
    font-weight: 900;
    font-size: 40px;
    color: #fff !important;
    line-height: 38px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.slide p {
    font-size: 16px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-30 {
    margin-top: 30px;
}

.posts .news {
    padding: 20px;
}

.posts .heading {
    font-size: 20px;
    font-family: 'Scada',sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 22px;
}

.news a{
    display: block;
    text-decoration: none;
    color: black;
}

.news a:not(:first-child) {
    margin-top: 18px;
}

.news a:hover {
    color: #777 !important;
}

.news p {
    margin: 0;
}

.width25per {
    width: 25%;
    float: left;
    box-sizing: border-box;
}

.width50per {
    width: 50%;
    float: left;
    box-sizing: border-box;
}

.posts .article {
    height: 370px;
    overflow: hidden;
    margin: 0 15px;
    background-size: cover;
}

.posts .article:hover {
    outline: 10px solid black;
}

.posts .width25per .article {
    background: url('../img/post-quarter-size.jpg') no-repeat center center;
}   

.posts .width50per .article {
    background: url('../img/post-half-size.jpg') no-repeat center center;
}  

.margin-left-0 {
    margin-left: 0 !important;
}

.margin-right-0 {
    margin-right: 0 !important;
}

.fade {
    background: rgba(0,0,0,.4);
    width: 100%;
    height: 100%;
}

.relative {
    position: relative;
}

.article a.wrap {
    display: block;
    height: 100%;
    color: white;
    padding: 20px;
}

.article p {
    font-size: 16px;
}

.article a.category {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 13px;
    font-family: 'Scada',sans-serif;
    font-weight: bold;
    background: #fff;
    padding: 3px 8px;
    color: #000 !important;
}

.article a.category:hover {
    background: #000;
    color: #fff !important;
}

.text-center { 
    text-align: center;
}

.pagination {
    display: inline-block;
    list-style-type: none;
}

.pagination li {
    display: inline;
}

.pagination li a {
    border-radius: 50% !important;
    border: 0 !important;
    font-weight: bold;
    margin: 0 5px;
    position: relative;
    float: left;
    padding: 6px 12px;
}

.pagination li a:hover {
    background-color: #eee;
}

.pagination .active a {
    background: #333 !important;
    color: #fff !important;
    cursor: default;
}

.height-1 {
    height: 1px;
}

.next-page {
    margin-top: 17px;
    font-weight: bold;
    opacity: 0.8;
    text-align: right;
    padding-right: 30px;
}

footer {
    margin-top: 40px;
    background: black;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.logo-bottom {
    padding: 40px;
}

.social {
    text-align: right;
}

.social a {
    display: inline-block;
    padding: 0 2px;
    width: 32px;
    height: 32px;
    text-align: center;
}

.social a img:hover {
    opacity: 0.8;
}

.disclaimer {
    padding: 20px 0 40px;
}

.disclaimer p {
    color: white;
    margin: 0;
    font-size: 13px;
    color: #666;
    width: 700px;
}

.disclaimer p:hover {
    color: white;
}

#scrollUp {
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 38px;
    background: url(../img/up.jpg) no-repeat;
    cursor: pointer;
}

input[type=search] {
    font-weight: 100 !important; */
    box-shadow: none; 
    border-radius: 0; 
    border: 1px solid rgba(255,255,255,0);
    background: url(../img/search.png) no-repeat 5px 5px;
    width: 22px;
    padding-left: 32px;
    height: 30px;
    cursor: pointer;
    transition: all .5s;
}

input[type=search]:hover {
    width: 200px;
    padding-left: 32px;
    color: #333 !important;
    cursor: auto;
    border: 1px solid #ccc;
}